.container {
    max-width: 1512px;
    height: 1073px;
    padding: 54px 0px 54px 0px;
    gap: 16px;
    background-color: rgba(244, 247, 250, 1);
}

.content {
    width: 769px;
    height: 205px;
    gap: 20px;
}

.heading {
    width: 769px;
    height: 48px;
    font-family: Gilroy-Bold;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -1.2000000476837158px;
    text-align: center;
    color: rgba(22, 28, 45, 1);

}

.superapp {
    width: 769px;
    height: 64px;
    opacity: 0.7px;
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: rgba(22, 28, 45, 1);

}

.marketbutton {
    width: 255px;
    height: 53px;
    padding: 16px 40px 16px 40px;
    gap: 16px;
    border-radius: 8px;
    background: linear-gradient(94.23deg, #0098BF 0%, #15BB98 68.74%, #68D585 137.48%);
}

.buttontext {
    width: 162px;
    height: 21px;
    font-family: Gilroy-Bold;
    font-size: 17px;
    font-weight: 400;
    line-height: 21.05px;
    letter-spacing: -0.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.imagecontainer {
    width: 934px;
    height: 744px;
    gap: 44px;

}

.imagecontainer1 {
    width: 282px;
    height: 654px
}

.image1 {
    border-radius: 10px 10px 0px 0px;
}

.imagecontainer1text {
    width: 255px;
    height: 45px;
    padding: 8px 0px 8px 0px;
    gap: 15px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.text1 {
    width: 255px;
    height: 29px;
    gap: 10px;
}

.text1 p {
    font-family: Gilroy-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: rgba(22, 28, 45, 1);
}

.imagecontainer2 {
    width: 282px;
    height: 744px;
    padding: 90px 0px 0px 0px;

}

.image2 {
    border-radius: 10px 10px 0px 0px;
}

.imagecontainer2text {
    width: 255px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0px 8px 0px;
    gap: 15px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;

}

.text2 {
    width: 255px;
    height: 29px;
    gap: 10px;
}

.text2 p {
    font-family: Gilroy-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: rgba(22, 28, 45, 1);

}

.imagecontainer3 {
    width: 282px;
    height: 654px;

}

.image3 {
    border-radius: 10px 10px 0px 0px;
}

.imagecontainer3text {
    width: 255px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0px 8px 0px;
    gap: 15px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;


}

.text3 {
    width: 255px;
    height: 29px;
    gap: 10px;
}

.text3 p {
    font-family: Gilroy-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: rgba(22, 28, 45, 1);
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
    .container {
        padding: 32px 24px 32px 24px;
        gap: 12px;
        position: relative;
    }

    .content {
        width: 345px;
        height: 181px;
        gap: 16px;
    }

    .heading {
        width: 345px;
        height: 48px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .superapp {
        width: 345px;
        height: 68px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        color: rgba(0, 0, 0, 1);
    }

    .marketbutton {
        width: 196px;
        height: 41px;
        padding: 12px 32px 12px 32px;
    }

    .buttontext {
        width: 132px;
        height: 17px;
        font-size: 14px;
        line-height: 17.33px;
    }

    .imagecontainer {
        width: 393px;
        height: 533px;
        padding: 11px 0px 10.64px 24px;

    }

    .imagecontainer1 {
        width: 227;
        height: 511px;
        position: absolute;
        top: 250px;
        left: 24px;

    }

    .image1 {
        width: 227px;
        height: 502px;
        border-radius: 8px 8px 0px 0px;
    }


    .imagecontainer2 {
        width: 227px;
        height: 511px;
        position: absolute;
        top: 155px;
        left: 262px;
    }

    .image2 {
        width: 227px;
        height: 502px;
        border-radius: 8px 8px 0px 0px;
    }

    .imagecontainer1text,
    .imagecontainer2text {
        border-style: none;
    }

    .imagecontainer3 {
        display: none;
    }

    .ellipse {
        width: 57px;
        height: 15px;
        padding: 4px 8px 4px 8px;
        gap: 10px;
        border-radius: 12px 0px 0px 0px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 80%;

    }

    .ellipse1 {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 1);
    }

    .ellipse2,
    .ellipse3 {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgba(217, 217, 217, 1);

    }
}