.cont {
    max-width: 1512px;
    height: 908px;
    position: relative;
}

.container {
    width: 1300px;
    height: 100%;
    position: absolute;
    top: 170px;
    left: 80px;
    gap:73px;
}

.content {
    width: 600px;
    height: 345px;
    gap: 28px;
}

.empowering {
    font-family: Gilroy-Black;
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
}

.digitalplatform {
    height: 116px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
    .container {
        flex-direction: column;
        position: absolute;
        top: 20px;
        left:220px;
        gap:28px;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        position: absolute;
        top: 20px;
        left:90px;
        gap:28px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
    .container {
        flex-direction: column;
        padding: 0 24px;
        position: absolute;
        top: 10px;
        left: 0px;
        width: 100%;
        gap:20px;
    }

    .content {
        width: 100%;
        padding: 0px 24px 0px 24px;
        gap: 12px;
    }

    .empowering {
        font-size: 28px;
        line-height: 33.6px;
        text-align: center;
    }

    .digitalplatform {
        font-size: 16px;
        line-height: 25.6px;
        text-align: center;
    }

    .logo {
        width: 356px;
        height: 256px;
    }
}