.footercontainer {
    width: 1512px;
    height:820px;
    position: relative;
}

.container {
    width: 1512px;
    gap: 0px;
    opacity: 0px;

}


.testinomial {
    width: 1512px;
    height: 737px;
    background: linear-gradient(180deg, #3771C8 0%, #68D5A1 100%);
}

.commitment {
    width: 1065px;
    height: 737px;
    gap: 44px;
}

.content {
    width: 1065px;
    height: 166px;
    gap: 28px;
}

.heading {
    width: 1065px;
    height: 44px;
    font-family: Gilroy-Bold;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -1.2000000476837158px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.formatquote {
    width: 1065px;

    position: relative;
}

.rightquote {
    top: 80px;
    left: 960px;
    position: absolute;
}

.leftquote {
    top: 40px;
    left: 65px;
    position: absolute;
}

.solwermission {
    width: 950px;
    height: 88px;
    font-family: Gilroy-Medium;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -1.2000000476837158px;
    text-align: center;
    padding: 10px;
    color: rgba(255, 255, 255, 1);

}

.footerimage {
    border-radius: 300px 300px 0px 0px;
    border: 14px 0px 0px 0px;

}

.footer {
    width: 1512px;
    height: 55px;
    padding: 23px 59px 23px 59px;
    justify-content: space-between;
}

.footerlogo {
    width: 169px;
    height: 59px;
    gap: 16px;
}

.contactmedia {
    width: 878px;
    height: 26px;
    gap: 40px;
    justify-content: flex-end;

}


.contactus {
    width: 323px;
    height: 16px;
    gap: 10px;


}

.privacy {
    width: 94px;
    height: 16px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: right;
    color: rgba(22, 28, 45, 1);

}

.conditions {
    width: 132px;
    height: 16px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: right;
    color: rgba(22, 28, 45, 1);
}

.contact {
    width: 57px;
    height: 16px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: right;
    color: rgba(22, 28, 45, 1);
}

.socialmedia {
    width: 140px;
    height: 20px;
    gap: 20px;
}

@media only screen and (max-width:700px) {

    .footercontainer {
        height: 561px;
        gap: 32px;
    }

    .conatiner {

        height: 443px;
    }

    .commitment {
        height: 443px;
        gap:0px;
    }
    .content{gap:0px;}

    .testinomial {
        width: 425px;
        height: 460px ;
    }


    .heading {
        width: 315px;
        height: 24px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -1px;
        text-align: center;
    }

    .formatquote {
        display: none;
    }



    .solwermission {
        width: 315px;
        height: 68px;
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: -0.20000000298023224px;
        text-align: center;

    }

    .footerimage {
        width: 310px;
        height: 290px;
        border-radius: 150px 150px 0px 0px;
        border: 3.64px 0px 0px 0px;

    }

    .footer {
        flex-direction: column;
        width: 345px;
        gap: 16px;
        padding: 0px;

    }

    .footerlogo {
        width: 74px;
        height: 18px;
        gap: 12px;
    }

    .contactmedia {
        flex-direction: column;
        height: 0px;
        position: relative;
        gap: 3px;

    }

    .contactus {
        width: 420px;
        order: 2;
        justify-content: center;
        margin-top: 13px
    }

    .socialmedia {
        gap: 20px;
        width: 420px;
        padding: 0px;
        justify-content: flex-end;
        order: 1;
    }

    .line {
                border: 1px 0px 0px 0px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        margin-top: -15px;
    }
}

@media only screen and (min-width:700px) and (max-width:768px) {
    .testinomial{
        width:768px;
    
    }
    .footer{
        width:768px;
    }
    .solwermission {
        width: 515px;
        height: 68px;
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: -0.20000000298023224px;
        text-align: center;

    }
    
}

@media only screen and (min-width:1000px) and (max-width:1024px) {
    .testinomial{
        width:1024px;
    
    }
    .footer{
        width:1024px;
    }
   
}
@media only screen and (min-width:1200px) and (max-width:1440px) {
    .testinomial{
        width:1440px;
    
    }
    .footer{
        width:1440px;
    }
   
}